@page "/"
<head>
    <link rel="stylesheet" href="css/home.css" />

</head>


<div class="home-body">
    <h1 class="heading">Hello!</h1>
    <p class="body"> Welcome to Takhangma's Cafe.</p>
   

    @* <div>
        <img src="images/c.png" />

    </div> *@
</div>
 



